$particles: 12;
$radius: 10;
$lapDuration: 1s;

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    i {
        display: block;
        position: absolute;
        width: 7px;
        height: 2px;
        background: #000;
        opacity: 0.2;
        border-radius: 4px;
        animation-name: spin;
        animation-duration: $lapDuration;
        animation-iteration-count: infinite;
        animation-timing-function: ease;

        @for $i from 1 through $particles {
            &:nth-child(#{$i}) {
                $angle: $i / $particles * 360;
                transform: rotate(#{$angle}deg) translateX(#{$radius}px);
                animation-delay: $i * ($lapDuration / $particles);
            }
        }
    }
}