// FONT WEIGHT REFERENCE
//   100    Thin
//   200    Ultra Light
//   200    Extra Light
//   300    Light
//   400    Roman
//   400    Book
//   400    Regular
//   400    Normal
//   500    Medium
//   600    Demi Bold
//   600    Semi Bold
//   700    Bold
//   800    Extra Bold
//   900    Heavy
//   900    Black
//   900    Ultra
//   900    Ultra Black
//  1000    Fat
//  1000    Extra Black

$AftenpostenTypefaces: 'http://lisa.aftenposten.no/aftenposten_pluss/fonts/';
$ClanOT: $AftenpostenTypefaces + 'ClanOT/ClanOT';
$PublicoHeadline: $AftenpostenTypefaces + 'PublicoHeadline/PublicoHeadline';



/*  Clan Open Type  *
 *  ==============  */

 @font-face {
    font-family: "Clan OT Book";
    src: url(#{$ClanOT}-Book.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT Book";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT Book";
    src: url(#{$ClanOT}-Book.otf) format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Clan OT Book";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Thin.otf) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Book.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: 900;
    font-style: normal;
}


/*

//  DR MOBILE VERSION
//  Global: Clan OT Book
//  Headings: Clan OT

@font-face {
    font-family: "Clan OT Book";
    src: url(#{$ClanOT}-Book.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT Book";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT Book";
    src: url(#{$ClanOT}-Book.otf) format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Clan OT Book";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Medium.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Bold.otf) format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Bold.otf) format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Bold.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Thin.otf) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Clan OT";
    src: url(#{$ClanOT}-Ultra.otf) format("opentype");
    font-weight: 900;
    font-style: normal;
}
*/