// TODO: THEMIFY?
$color-primary: #00aeef;
$color-secondary: #006791;
$font-clan-bodytext: "Clan OT", sans-serif;
$font-clan-headings: "Clan OT Book", sans-serif;

// BREAK POINTS
$screen-mobile-big: 'only screen and (max-width: 767px)';
$screen-mobile-small: 'only screen and (max-width: 479px)';