@import 'base/variables';
@import 'base/mixins';

body {
    margin: 0;
    padding: 0;
    @include optimize-font-rendering;

    &.android {
        background: #333;
        &.light { background: #eee; }
    }
}

::selection { background: transparent; }
::-moz-selection { background: transparent; }

.clearfix { @include clearfix; }

.clear {
    clear: both;
    display: block;
}

.overflowHidden {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#paywall {
    opacity: 1;
    overflow: hidden;
    display: block;
    font-family: 'Open Sans', sans-serif;
    pointer-events: inherit;
    position: relative;
    width: 100%;

    &.android-beta {
        h1 { font-size: 28px; }

        .products .paywall-buy-product {
            float: none;
            width: inherit;
        }
    }

    * {
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        text-shadow: 0px 1px 0px rgba(255,255,255,1)
    }

    .paywall-inner {
        color: #fff;
        text-align: center;
        opacity:1;
        display: block;
        overflow: hidden;
        width: 100%;
        position: relative;
        @include clearfix;
    }

    .customer-logo {
        position: absolute;
        bottom: 20px;
        width: 47px;
        height: 47px;
        right: 20px;
        background: url(/gfx/paywall-sprite@2x.png) no-repeat center -42px;
        background-size: 47px 90px;
    }

    .colored-border {
        position: absolute;
        height: 3px;
        top: 0;
        left: 0;
        right: 0;
        background: url(/gfx/colored_border.jpg) no-repeat left center;
    }

    h1 {
        font-size: 30px;
        margin: 0;

        @media #{$screen-mobile-big} { font-size: 20px; }
    }

    h2,
    h2 a,
    h2 .paywall-tab-trigger {
        font-size: 16px;
        margin: 0 0 0.3em;
        text-decoration: none;
        font-weight: 700;
        font-style: normal;
        color: #333;
        text-transform: uppercase;

        @media #{$screen-mobile-big} {
            margin: 0 0 5px;
            line-height: 1em;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.5em;
        margin: 0 0 1em;
        font-weight: 100;
        color: #333;
        user-select: text;

        @media #{$screen-mobile-big} {
            font-size: 14px;
            text-align: center;
        }
    }

	button {
		-webkit-appearance: none;
        appearance: none;
        margin: 0 5px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        user-select: text;

        &:focus {
            outline-width: 0;
        }
	}

    .button {
        background: transparent;
        padding: 8px 20px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 13px;
        border: 1px solid $color-blue;
        border: 1px solid rgba(#fff, .2);
        text-transform: uppercase;
        font-style: normal;
        border-radius: 4px;
        text-shadow: none !important;

        &.blue-button {
            border: 1px solid transparent;
            background: $color-blue;
            color: #fff !important;
        }
        &:active {
            border: 1px solid #1081b1;
            background: #1081b1;
        }

        * { text-shadow: none !important; }

        @media #{$screen-mobile-big} {
            padding: 7px 20px 9px;
            box-sizing: border-box;
        }
    }

    a {
        color: #333;
        text-decoration: none;
        font-weight: 600;
        font-style: normal;

        &.round-button {
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0;
            border-radius: 100%;
            border: 1px solid $color-blue;
            line-height: 24px;
            color: #fff;
            cursor: pointer;
            text-shadow: none !important;

            &:active {
                color: #fff !important;
                background: $color-blue;
            }
        }

        &.more-info-trigger {
            line-height: 30px;
            position: fixed;
            right: 20px;
            top: 20px;
            z-index: 9999;

            @media #{$screen-mobile-big} {
                bottom: 10px;
                right: 10px;
                top: auto;
                z-index: 9999;
            }
        }

        &.icon,
        &.spid-logo {
            display: inline-block;
            width: 50px;
            height: 22px;
            padding: 0;
            margin: 0 20px -5px 3px !important;
            position: relative;
            background: 0 0 url(/gfx/paywall-sprite@2x.png) no-repeat;
            background-size: 47px 90px;
        }

        &.icon {
            padding-left: 36px;
            margin-left: 10px !important;

            &:before {
                content: "";
                width: 21px;
                height: 21px;
                position: absolute;
                left: 8px;
                background: url(/gfx/paywall-sprite@2x.png) no-repeat left -19px;
                background-size: 47px;
            }

            &.paywall-logout:before {
                background: -25px -19px url(/gfx/paywall-sprite@2x.png) no-repeat;
                background-size: 47px 90px;
            }
        }
    }

    @media #{$screen-mobile-big} {
        .paywall-tab a.more-info-trigger { display: block; }
    }

    b { font-weight: 600; }

    .blue { color: $color-blue !important; }

    .go-back-button {
    	&.round-button {
	        position: fixed;
	        top: 50%;
	        left: 20px;
	        margin-top: -20px;
	        font-size: 22px;
	    }
    }

    header {
        padding: 0 20px;
        width: 70%;
        margin: 10px auto 0;
        @include clearfix;

        @media #{$screen-mobile-big} {
            width: 100%;
            margin: auto;
            box-sizing: border-box;
        }
    }

    #paywall-buy header:first-child {
        width: 80%;

        @media #{$screen-mobile-big} {
            width: 100%;
            margin: 0 auto;
        }
    }

    input {
        background: none;
        border: 1px solid rgba(#fff, .5);
        padding: 12px 15px;
        color: #fff;
        margin: 0;
        font-size: 15px;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 5px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        user-select: text;
        @include transition((color, border-color));
        @include placeholder-text(#666);

        &:focus {
            color: #fff;
            outline-width: 0;
            border-radius: 5px 5px 0 0;
            @include placeholder-text($color-blue);
        }

        &[type="text"],
        &[type="password"] { padding-left: 40px; }

        &[type="submit"] {
            background: $color-blue;
            font-weight: 600;
            color: #fff;
            border: none;
            text-shadow: none !important;
            border-radius: 5px;
            margin: 0 2px;

            &:focus { background: #1081b1; }
        }

        @media #{$screen-mobile-big} {
            width: 100%;
            padding: 8px 10px;
            float: left;
            box-sizing: border-box;
            margin-top: -1px;

            &:focus {
                z-index: 99;
                position: relative;
            }

            &[type="password"] { margin: 0; }

            &[type="submit"] {
                background: $color-blue;
                border: 1px solid $color-blue;
                font-weight: bold;
                width: 14%;
                padding: 0;
                margin: 0;
                float: right;
                height: 37px;
				color: #fff;
            }
        }
    }

    .halfWidth {
        width: 45%;
        float: right;
        text-align: center;

        &:first-child { float: left; }

        @media #{$screen-mobile-big} {
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    footer {
        padding: 15px 25px;
        clear: both;

        p { line-height: 1em; }

        a {
            font-size: 14px;
            margin: 10px !important;
            font-weight: 600 !important;

            &:active { color: $color-blue !important; }
            @media #{$screen-mobile-small} { display: inline-block; }
            @media #{$screen-mobile-big} { text-align: center; }
        }

        @media #{$screen-mobile-small} { text-align: center; }

        @media #{$screen-mobile-big} {
            display: block;
            width: 90%;
            padding: 0;
            margin: 5px auto 0;
        }
    }

    #paywall-content { position: relative; }

    .paywall-tab {
        width: 100%;
        padding: 20px 0;
        position: absolute;
        top: 50%;
        left: 25%;
        opacity: 0;
        @include transition((left, opacity), $performance: false);
        pointer-events: none;

        &.open {
            left: 0;
            opacity: 1;
            pointer-events: inherit;
        }

        header { @include transition(padding-top); }

        @media #{$screen-mobile-big} { padding-bottom: 15px; }
    }

    .paywall-tab-trigger { cursor: pointer; }

    #paywall-products .paywall-buy-product {
        display: inline-block;
        margin: auto 5px;

        @media #{$screen-mobile-big} {
            margin: 5px auto;
            width: 90%;
        }
    }

    .purchase-options {
        height: 36px;

        @media #{$screen-mobile-big} {
            height: 72px;
            outline: 1px solid #ddd;
        }
    }

    .input {
        display: inline-block;
        margin: 0 2px;
        position: relative;

        &:before {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -8px;
            z-index: 999;
        }

        @media #{$screen-mobile-big} {
            width: 100%;
            margin: 0 0 2px;
        }
    }

    .input_username:before {
        background: url(/gfx/paywall-sprite@2x.png) no-repeat -0px -22px;
        background-size: 47px 90px;
    }

    .input_password {
        &:before {
	        background: url(/gfx/paywall-sprite@2x.png) no-repeat -25px -22px;
	        background-size: 47px 90px;
        }

        @media #{$screen-mobile-big} {
            width: 84%;
            float: left;
            margin-right: 1%;
        }
    }

    .no-tablet {
        display: none !important;
        @media #{$screen-mobile-big} { display: inline-block !important; }
    }

    @media #{$screen-mobile-big} {
        .paywall-buy-product .button { width: 80%; }
        .paywall-buy-product .button:active { width: 80%; }

        form {
            margin: 5px auto;
            width: 90%;
        }

        .no-mobile { display: none !important; }
        .button-bottom.round-button { left: 10px; }
    }

    @media #{$screen-mobile-small} {
        .button-bottom.round-button {
            bottom: 10px;
            top: auto;
            left: 25%;
            opacity: 0;
			@include transition((left, opacity), $performance: false, $delay: 0.1s);
            margin-top: 0;
        }
        .open .button-bottom.round-button {
			left: 10px;
			opacity: 1;
        }

        .focus {
            .hide-on-focus { display: none; }
            header { padding-top: 45px !important; }
        }
    }
}

.light {
    #paywall {
        .round-button { color: #333; }
        nav { border: none; }

        .button {
            border-color: $color-blue;
            &.blue-button:active { color: #fff !important; }
        }

        input {
            color: #333;
            background: #fff;
            border-color: transparent;

            &[type="text"]:focus,
            &[type="password"]:focus {
                color: $color-blue;
                border-color: transparent;
                border-bottom-color: $color-blue;
            }
        }
    }

    .paywall-inner { color: #333; }
}

.android {
    #paywall .halfWidth:first-child {
        float: none;
        margin: auto;
    }

    a.paywall-restore,
    .promotingAppStore { display: none !important; }
}