@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);

::selection { background: transparent; }
::-moz-selection { background: transparent; }

body.android { background: #333; }
body.android.light { background: #eee; }

body {
    margin: 0;
    padding: 0;
}

/* line 6, /Users/peter/Web/aptoma/alf/src/sass/layout/_base.scss */
.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clear {
    clear: both;
    display: block;
}

.aftenposten-logo {
    position: absolute;
    bottom: 20px;
    width: 47px;
    height: 47px;
    right: 20px;
    background: url(gfx/paywall/paywall-sprite@2x.png) no-repeat center -42px;
    background-size: 47px;
}

.colored-border {
    position: absolute;
    height: 3px;
    top: 0;
    left: 0;
    right: 0;
    background: url(gfx/paywall/colored_border.jpg) no-repeat left center;
}

.paywall h1 {
    font-size: 30px;
    margin: 0;
}

.paywall h2,
.paywall h2 a,
.paywall h2 .paywall-tab-trigger {
    font-size: 16px;
    margin: 0 0 0.3em;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    color: #333;
    text-transform: uppercase;
}
.paywall p {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0 0 1em;
    font-weight: 100;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.paywall a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
}
.paywall b {
    font-weight: 600;
}
.paywall .blue,
.paywall a.blue{
    color: #2bb4ed !important;
}

.overflowHidden {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.paywall * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    text-shadow: 0px 1px 0px rgba(255,255,255,1)

}
.paywall {
    opacity: 1;
    overflow: hidden;
    display: block;
    font-family: 'Open Sans', sans-serif;
    pointer-events: inherit;
    position: relative;
    width: 100%;
}
.light .paywall {
    border-color: #fafafa;
}
.paywall-inner {
    color: #fff;
    text-align: center;
    opacity:1;
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.paywall .round-button {
    border-radius: 100%;
    border: 1px solid #2bb4ed;
    line-height: 24px;
    height: 30px;
    width: 30px;
    display: inline-block;
    color: #fff;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-shadow: none !important;
}
.light .paywall .round-button,
.light .paywall-inner {
    color: #333;
}

.paywall .go-back-button {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -20px;
    font-size: 22px;
    line-height: 24px;
}

.paywall a.more-info-trigger{
    line-height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999;
}
.paywall .paywall-tab a.more-info-trigger{
    display: none;
}
.paywall a.round-button:active{
    background: #2bb4ed;
    color: #fff !important;
}

.light .paywall nav {
    border: none;
}
#paywall-content {
    position: relative;
}
.paywall-tab {
    -webkit-transition: left 0.3s ease-out,
                        opacity 0.3s ease-out;
    transition: left 0.3s ease-out,
                opacity 0.3s ease-out;
    width: 100%;
    left: 25%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    padding: 20px 0;
}
.paywall-tab header {
    -webkit-transition: padding-top 0.3s ease-out;
    transition: padding-top 0.3s ease-out;
}

.paywall-tab-trigger {
    cursor: pointer;
}
.paywall-tab.open {
    left: 0;
    opacity: 1;
    pointer-events: inherit;
}
.paywall .paywallHeader {
    padding: 0 20px;
    width: 70%;
    margin: 10px auto;
}

#paywall-products .paywall-buy-product {
    display: inline-block;
    margin: auto 5px;
}

.paywall .button {
    background: transparent;
    padding: 8px 20px 8px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid #2bb4ed;
    border: 1px solid rgba(255,255,255,0.2);
    text-transform: uppercase;
    font-style: normal;
    border-radius: 4px;
}
.button,
.button * { text-shadow: none !important; }

.light .paywall .button { border-color: #2bb4ed; }

.paywall a:active .button,
.paywall a.button:active {
    border: 1px solid #1081b1;
    background: #1081b1;
}

.paywall .button.blue-button {
    border: 1px solid #2bb4ed;
    background: #2bb4ed;
}

.paywall .button.blue-button,
.light .paywall .button.blue-button:active { color: #fff !important; }

.paywall input {
    background: none;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 12px 15px;
    color: #fff;
    margin: 0;
    font-size: 15px;
    -webkit-appearance: none;
    appearance: none;
    border-radius:5px;
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    -webkit-transition: color 0.3s ease-out,
                        border-color 0.3s ease-out;
    transition: color 0.3s ease-out,
                border-color 0.3s ease-out;
}

.light .paywall input {
    border-color: #ddd;
    color: #333;
    background: #fff;
    border-color: transparent;
}

.paywall input[type="text"],
.paywall input[type="password"] { padding-left: 40px; }

.input {
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

.input:before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -8px;
    z-index: 999;
}

.input_username:before {
    background: url(gfx/paywall/paywall-sprite@2x.png) no-repeat -0px -22px;
    background-size: 47px;
}

.input_password:before {
    content: '•••';
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;
}

.paywall input::-webkit-input-placeholder,
.paywall input:-moz-placeholder{
    color: #666;
}

.paywall input:focus,
.paywall input:focus::-webkit-input-placeholder {
    color: #fff;
    outline-width: 0;
    border-radius: 5px 5px 0 0;
}

.light .paywall input[type="text"]:focus,
.light .paywall input[type="password"]:focus {
    border-color: transparent;
    color: #2bb4ed;
    border-bottom-color: #2bb4ed;
}

.paywall input:focus::-webkit-input-placeholder { color: #2bb4ed; }

.paywall input[type="submit"] {
    background: #2bb4ed;
    font-weight: 600;
    color: #fff;
    border: none;
    text-shadow: none !important;
    border-radius: 5px;
    margin: 0 2px;
}

.paywall input[type="submit"]:focus { background: #1081b1; }

.paywall footer {
    padding: 15px 25px;
    clear: both;
}

.paywall footer a {
    font-size: 14px;
    margin: 10px !important;
    font-weight: 600 !important;
}

.paywall footer a:active { color: #2bb4ed !important; }

.paywall a.icon {
    position: relative;
    padding-left: 36px;
    margin-left: 10px !important;
}

.paywall a.icon:before {
    content: "";
    height: 21px;
    width: 21px;
    background: url(gfx/paywall/paywall-sprite@2x.png) no-repeat left -19px;
    background-size: 47px;
    position: absolute;
    left: 8px;
}

.paywall a.icon.paywall-logout:before {
    background: url(gfx/paywall/paywall-sprite@2x.png) no-repeat -25px -19px;
    background-size: 47px;
}
.paywall a.spid-logo {
    position: relative;
    background: url(gfx/paywall/paywall-sprite@2x.png) no-repeat left top;
    background-size: 53px;
    width: 50px;
    display: inline-block;
    height: 22px;
    padding: 0;
    margin: 0 20px -5px 3px !important;
}

.paywall footer p { line-height: 1em; }

.paywall.android-beta .products .paywall-buy-product {
    float: none;
    width: inherit;
}

.paywall .halfWidth {
    width: 45%;
    float: right;
    text-align: center;
}

.paywall .halfWidth:first-child { float: left; }

.paywall #paywall-buy .paywallHeader:first-child {
    width: 80%;
    margin: 10px auto;
}

.paywall.android-beta h1 { font-size: 28px; }

.android .paywall .halfWidth:first-child {
    float: none;
    margin: auto;
}

.android a.paywall-restore,
.android .promotingAppStore,
.no-tablet { display: none !important; }

@media only screen and (max-width: 768px) {
    .no-mobile { display: none !important; }
    .no-tablet { display: inline-block !important; }

    .paywall h1 { font-size: 20px; }

    .paywall h2, .paywall h2 a, .paywall h2 .paywall-tab-trigger {
        margin: 0 0 5px;
        line-height: 1em;
    }

    .paywall p {
        font-size: 14px;
        text-align: center;
    }

    .paywall .halfWidth {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .paywall #paywall-buy .paywallHeader:first-child {
        width: 100%;
        margin: 0 auto;
    }

    .paywall .paywallHeader {
        width: 100%;
        padding: 0 20px;
        margin: auto;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }

    .paywall .input {
        width: 100%;
        margin: 0 0 2px;
    }

    .paywall .input_password {
        width: 84%;
        float: left;
        margin-right: 1%;
    }

    .paywall input {
        padding: 8px 10px;
        width: 100%;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        margin-top: -1px;
        float: left;
    }

    .paywall input:focus {
        z-index: 99;
        position: relative;
    }

    .paywall input[type="password"] { margin: 0; }

    #paywall-products .paywall-buy-product,
    .paywall form {
        margin: 5px auto;
        width: 90%;
    }

    .paywall .button {
        padding: 7px 20px 9px;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }

    .paywall .paywall-buy-product .button { width: 80%; }
    .paywall .paywall-buy-product .button:active { width: 80%; }

    .paywall input[type="submit"] {
        background: #2bb4ed;
        border: 1px solid #2bb4ed;
        font-weight: bold;
        width: 14%;
        padding: 0;
        margin: 0;
        float: right;
        height: 37px;
    }

    .paywall a.more-info-trigger {
        bottom: 10px;
        right: 10px;
        top: auto;
        z-index: 9999;
        display: none;
    }

    .paywall .paywall-tab a.more-info-trigger { display: block; }

    .button-bottom.round-button { left: 10px; }

    .paywall footer {
        display: block;
        width: 90%;
        padding: 0;
        margin: 5px auto 0;
        /* border-top: 1px solid #ddd; */
        /* border-bottom: 1px solid #ddd; */
    }

    .paywall footer a { text-align: center; }
    .paywall-tab { padding-bottom: 15px; }
}

@media only screen and (max-width: 480px) {
    .paywall footer { text-align: center; }

    .paywall footer a { display: inline-block; }

    .button-bottom.round-button {
        top: auto;
        bottom: 10px;
        left: 10px;
        float: none;
        margin-top: 0;
    }
}

@media only screen and (max-width: 320px) {

}

@media (max-device-width: 482px) {
    .focus .hide-on-focus { display: none; }
    .focus header { padding-top: 45px !important; }
}
